<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnslin.onemanager.mapper.OnedriveconfigMapper" >
  <resultMap id="BaseResultMap" type="com.dnslin.onemanager.pojo.Onedriveconfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clientId" property="clientid" jdbcType="VARCHAR" />
    <result column="redirectUrl" property="redirecturl" jdbcType="VARCHAR" />
    <result column="clientSecret" property="clientsecret" jdbcType="VARCHAR" />
    <result column="accessToken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="refreshToken" property="refreshtoken" jdbcType="VARCHAR" />
    <result column="expires" property="expires" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clientId, redirectUrl, clientSecret, accessToken, refreshToken, expires
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dnslin.onemanager.pojo.OnedriveconfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onedriveconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from onedriveconfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from onedriveconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dnslin.onemanager.pojo.OnedriveconfigExample" >
    delete from onedriveconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dnslin.onemanager.pojo.Onedriveconfig" >
    insert into onedriveconfig (id, clientId, redirectUrl, 
      clientSecret, accessToken, refreshToken, 
      expires)
    values (#{id,jdbcType=INTEGER}, #{clientid,jdbcType=VARCHAR}, #{redirecturl,jdbcType=VARCHAR}, 
      #{clientsecret,jdbcType=VARCHAR}, #{accesstoken,jdbcType=VARCHAR}, #{refreshtoken,jdbcType=VARCHAR}, 
      #{expires,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dnslin.onemanager.pojo.Onedriveconfig" >
    insert into onedriveconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientid != null" >
        clientId,
      </if>
      <if test="redirecturl != null" >
        redirectUrl,
      </if>
      <if test="clientsecret != null" >
        clientSecret,
      </if>
      <if test="accesstoken != null" >
        accessToken,
      </if>
      <if test="refreshtoken != null" >
        refreshToken,
      </if>
      <if test="expires != null" >
        expires,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="redirecturl != null" >
        #{redirecturl,jdbcType=VARCHAR},
      </if>
      <if test="clientsecret != null" >
        #{clientsecret,jdbcType=VARCHAR},
      </if>
      <if test="accesstoken != null" >
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="refreshtoken != null" >
        #{refreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="expires != null" >
        #{expires,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dnslin.onemanager.pojo.OnedriveconfigExample" resultType="java.lang.Integer" >
    select count(*) from onedriveconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onedriveconfig
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clientid != null" >
        clientId = #{record.clientid,jdbcType=VARCHAR},
      </if>
      <if test="record.redirecturl != null" >
        redirectUrl = #{record.redirecturl,jdbcType=VARCHAR},
      </if>
      <if test="record.clientsecret != null" >
        clientSecret = #{record.clientsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.accesstoken != null" >
        accessToken = #{record.accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="record.refreshtoken != null" >
        refreshToken = #{record.refreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="record.expires != null" >
        expires = #{record.expires,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onedriveconfig
    set id = #{record.id,jdbcType=INTEGER},
      clientId = #{record.clientid,jdbcType=VARCHAR},
      redirectUrl = #{record.redirecturl,jdbcType=VARCHAR},
      clientSecret = #{record.clientsecret,jdbcType=VARCHAR},
      accessToken = #{record.accesstoken,jdbcType=VARCHAR},
      refreshToken = #{record.refreshtoken,jdbcType=VARCHAR},
      expires = #{record.expires,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dnslin.onemanager.pojo.Onedriveconfig" >
    update onedriveconfig
    <set >
      <if test="clientid != null" >
        clientId = #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="redirecturl != null" >
        redirectUrl = #{redirecturl,jdbcType=VARCHAR},
      </if>
      <if test="clientsecret != null" >
        clientSecret = #{clientsecret,jdbcType=VARCHAR},
      </if>
      <if test="accesstoken != null" >
        accessToken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="refreshtoken != null" >
        refreshToken = #{refreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="expires != null" >
        expires = #{expires,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dnslin.onemanager.pojo.Onedriveconfig" >
    update onedriveconfig
    set clientId = #{clientid,jdbcType=VARCHAR},
      redirectUrl = #{redirecturl,jdbcType=VARCHAR},
      clientSecret = #{clientsecret,jdbcType=VARCHAR},
      accessToken = #{accesstoken,jdbcType=VARCHAR},
      refreshToken = #{refreshtoken,jdbcType=VARCHAR},
      expires = #{expires,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>